@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Merriweather&display=swap');
*{
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-family: 'Merriweather', serif;
}
body{
        width:100vw;
        height: 100vh;
}
::-webkit-scrollbar {
        width: 7px;
}
::-webkit-scrollbar-track {
        background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
        background: #888;
}
::-webkit-scrollbar-thumb:hover {
        background: #555;
}