:root {
        --primary-color: #061A40;
        --background-color-1:darkgray;
        --background-color-2:#E0E0E0;
        --secondary-color:#c5c6c7;
        --tertiary-color:#F5F5F5;
        --accent-color:#fff;
}
/* Navbar */
.my-navbar{
        background-color: var(--primary-color);
}
.my-navbar-item{
        color: var(--tertiary-color) !important;
}
/* Login &Register */
.my-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: radial-gradient(var(--background-color-2),var(--background-color-1));
        justify-content: center;
        height: 100vh;
    }
    .form-component {
        text-align: center;
        background-color:var(--tertiary-color);
        width: 700px;
        margin: 20px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-radius: 10px;
    }
    .form-title {
        font-size: 25px;
        font-weight: bolder;
    }

.my-button{
        background-color:var(--primary-color);
        padding: 10px 5px;
        border-radius: 20px;
        color: var(--accent-color);
        opacity: 0.8;
}
.my-button:hover{
        opacity: 1;
}
.button-groups{
        gap: 2rem;
}
/* Profile */
.profile-details{
        padding: 20px;
        width: 500px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
        background-color: var(--tertiary-color);
}
.profile-item{
        margin-bottom: 20px;
}
.profile-title{
        text-align: center;
}
/* Home */
.my-logo{
        height: 150px;
        width: 150px;
}
.credential{
        display: flex;
        justify-content:space-evenly;
        margin: 20px;
}

.my-home{
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        margin-top: 70px;
        gap: 2rem;
        height: 100vh;
        background-image: radial-gradient(var(--background-color-2),var(--background-color-1));
}
/* Error Img */
.error-img{
        border-radius: 20px;
        height: 300px;
}
      @media screen and (max-width: 576px) and (max-height: 640px) {
        .welcome-text{
                font-size: 20px;
                font-family: cursive;
        } 
        .form-component {
                text-align: center;
                background-color:#fff;
                width: 350px;
                margin-top: 80px;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                border-radius: 10px;
            }
            .form-title {
                font-size: 25px;
                font-weight: bolder;
            }
            .home-text{
                text-align: center;
            }
            .my-table{
                font-size: 15px;
            }
            .profile-details{
                padding: 20px;
                width: 300px;
                font-size: 15px;
                border-radius: 5px;
                box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
                background-color: var(--tertiary-color);
        }
        .my-home{
                font-size: 10px;
                text-align: center;
        }
}